.pytest_cache/
.idea/
jwt/*
.env

restful/django-auth-microservice/*
restful/!django-auth-microservice/.gitkeep

restful/fastapi-rpi-plants-control/*
restful/!fastapi-rpi-plants-control/.gitkeep

restful/microservice-email/*
restful/!microservice-email/.gitkeep

restful/rpi-gateway/*
restful/!rpi-gateway/.gitkeep

admin/rpi_home_automation_django

controller/client.py