DJANGO_ADMIN_SECRET_KEY=secret
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost
POSTGRES_DB=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1
RPI_ENABLED=False